@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
 
}

body {
  background: url(img/tlo.png);
  /* This patern from www.subtlepatterns.com  */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
   
}
/* Title */
h1 {
  letter-spacing: 1px;
  margin-bottom: 25px;
  color:#fff;
}
.title{
  color: red;
}

/* Post */ 
.card{
  margin-top: 50px;
}

/* .card-text{
  margin-bottom: 25px;
} */

.card-body{
  width: 100%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}




