@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
  color: #fff;
}

body {
  background: url(img/tlo.png);
  /* This patern from www.subtlepatterns.com  */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
  margin: 30px;
}

.App {
  margin: 30px auto;
  width: 75vw;
}

/* Header */
.Header__Blog {
  letter-spacing: 1px;
  margin-bottom: 25px;
  color:#fff;
  min-width: 100px;
}
.Header__Title {
  color: red;
}

/* Posts */ 
.card-lable{
  color: #fff;
}

.btn-outline-secondary{
  width: 100%;
}

.card-body {
  width: 100%;
  height: 100%;
  min-width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  word-wrap: break-word;
  word-spacing: normal;
}

.card-body-userID {
 position: absolute;
 right: 10em;
}

/* Pagination */
.pagination-sm {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

/* Comments */
.btn-success {
  margin-top: 10px;
}

.form-lable {
  color:red;
}

.form-control {
  margin-top: 5px;
}